html, body {
    margin: 0;
    padding: 0;
}

hero {
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-between;
    align-items:  center;
    margin: 50px;
}

.logo {
    max-width: 30%;
    max-height: 0%;
}

.circle-img {
    border-radius: 50%;
    max-width: 20%;
    max-height: auto;
}

.online-post {
    display: flex;
    align-items: center;
    margin: 50px;
}

.text-block {
    padding-left: 25px;
}

.name {
    font-size: xx-large;
    font-weight: 900;
}

p {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.img-post {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.user-icons {
    margin: 30px 30px;
}

.icons {
    max-width: 10%;
    padding: 0px 10px;
}

.likes {
    font-size: 30px;
    font-weight: 800;
    margin: 30px 0;
    padding-left: 10px;
}

.comment {
    font-size: 30px;
}

.username {
    padding-left: 10px;
    font-size: 30px;
    font-weight: 800;
}

.gray-background {
    border:  30px solid lightgrey;
}